html {
    font-size: 10px;
    font-family: 'Playfair Display', serif;
    background-color: #cee2e1;
}

h1{
    margin: 0;
    padding: 20px 0px;
    color: #636c8b;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}

li,ul{
    font-size: 25px;
    text-align: left;

}
p{
    font-size: 25px;
    line-height:25px;
    letter-spacing:2px;
}
body{
    width:400px;
    margin: 0 auto; 
    padding: 0px 30px 30px 30px;
    border: 3px solid black;
}
img{
    display:block;
    margin:0 auto;
}